{% extends "inicio.html" %}

{% load static %}

{% block contenido %} 

<h1><b>Si sos parte  de la Organizacion date de alta Aqui</b></h1>

    <form action="anotate" method="POST">
        {% csrf_token %}
        <p>Nombre :</p>
        <input type="text" name="nombre" required>
        <p>Puesto:</p>
        <input type="text" name="puesto" required>
        <p>Edad </p> 
        <input type="number" name="edad"required>

        <input type="submit" value="Enviar">


    </form>

    <h1><b>Si Queres ser Patrocinador date de alta Aqui</b></h1>

    <form action="anotate1" method="POST">
        {% csrf_token %}
        <p>Nombre :</p>
        <input type="text" name="nombre" required>
        <p>marca:</p>
        <input type="text" name="marca" required>
        <p>cuit </p> 
        <input type="number" name="cuit" required>

        <input type="submit" value="Enviar">


    </form>
    <h1><b>Si queres asistit a esta nueva edicion RETRO FEST reserva lugar Aqui</b></h1>

    <form action="anotate2" method="POST">
        {% csrf_token %}
        <p>Nombre :</p>
        <input type="text" name="nombre" required>
        <p>apellido:</p>
        <input type="text" name="apellido" required>
        <p>dni </p> 
        <input type="number" name="dni" required>

        <input type="submit" value="Enviar">


    </form>

{% endblock %}